//main: master.scss

$font-default: 'Source Sans Pro', sans-serif;
$font-size: 16px;

$font-text: 'Source Sans Pro', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-excerpt: 'Josefin Sans', sans-serif;

$text-color: #2e3c40;

$color-black: #1B2733;
$color-white: #FFF;
$color-gray: #f8f8f8;
$color-yellow: #fdf7c3;

$color-opacity: .15;

$color-link: #fdf7c3;